body {
	background: #ececec;
}

md-card {
	background: #fff;
}

.readyToPlay {
	color: green;
}

.avatar {
	padding: 0.4em;
	width: 4.5em;
	height: 4.5em;
	position: relative;
	background: black;
	border-style: solid;
	border-radius: 0.9em;
	border-width: 0.1em;
	border-color: transparent;
	margin: 0.2em 1em;
}

.playername {
	text-align: center;
}

.rewards {
	padding-top: 0;
	padding-bottom: 0;
}

